[submodule "third_party/src/glew"]
	path = third_party/src/glew
	url = https://github.com/nigels-com/glew.git
[submodule "third_party/src/glm"]
	path = third_party/src/glm
	url = https://github.com/g-truc/glm.git
[submodule "third_party/src/nlohmann_json"]
	path = third_party/src/nlohmann_json
	url = https://github.com/nlohmann/json.git
[submodule "third_party/src/yaml_cpp"]
	path = third_party/src/yaml_cpp
	url = https://github.com/jbeder/yaml-cpp.git
[submodule "third_party/src/manifold"]
	path = third_party/src/manifold
	url = https://github.com/elalish/manifold.git
[submodule "third_party/src/stb"]
	path = third_party/src/stb
	url = https://github.com/nothings/stb.git
[submodule "third_party/src/wxwidgets"]
	path = third_party/src/wxwidgets
	url = https://github.com/wxWidgets/wxWidgets.git
[submodule "third_party/src/glfw"]
	path = third_party/src/glfw
	url = https://github.com/glfw/glfw.git
